table{
    border: 5px dashed black;
    width: 60%;
    margin: 7px auto;
}

td{
    height: 100px;
    width: 20%;
    border: 2px solid black;
    cursor: pointer;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
td:hover{
    background-color: cadetblue;
}
h1{
    text-align: center;
}
footer{
    padding: 0;
    width: 60%;
    margin: 5px auto;
}
footer p{
    text-align: justify;
    font-style: italic;
    font-size: 10px;
}
